<!DOCTYPE html>
<html>
<head>
    <title>Employee Records</title>
</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
<div>
    <a href="/" class="button center">Home</a>
</div>
</body>
</html>